/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_container {
    flex-basis: 12.5%;
    margin: 20px 2.5%;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

header {
    margin: 30px 0;
}

header nav {
    margin: 0 0 30px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    position: relative;
}

header nav ul li:not(:first-of-type) {
    top: 12px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.header_image{
    background-size: cover;
    width: 100%;
    height: 150px;
}

.home_header.header_image {
    background: url('../img/jumbo.jpg') no-repeat center center;
}

.about_header.header_image {
    background: url('../img/jumbo-about.png') no-repeat center center;
    margin-bottom: 20px;
}

.contact_header.header_image {
    background: url('../img/skyline.jpg') no-repeat center -100px;
    height: 200px;
}

header.header_about, header.header_contact {
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
}

.header_desc {
    width: 95%;
    margin: 20px auto 0;
}

/* Box Colors */
.middle-content .boxes .box_container:nth-of-type(1) .box {
    background-color: teal;
}
.middle-content .boxes .box_container:nth-of-type(2) .box {
    background-color: gold;
}
.middle-content .boxes .box_container:nth-of-type(3) .box {
    background-color: cadetblue;
}
.middle-content .boxes .box_container:nth-of-type(4) .box {
    background-color: coral;
}
.middle-content .boxes .box_container:nth-of-type(5) .box {
    background-color: crimson;
}
.middle-content .boxes .box_container:nth-of-type(6) .box {
    background-color: forestgreen;
}
.middle-content .boxes .box_container:nth-of-type(7) .box {
    background-color: darkorchid;
}
.middle-content .boxes .box_container:nth-of-type(8) .box {
    background-color: hotpink;
}
.middle-content .boxes .box_container:nth-of-type(9) .box {
    background-color: indigo;
}
.middle-content .boxes .box_container:nth-of-type(10) .box {
    background-color: dodgerblue;
}

/* Cards */
.cards {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 49%;

    border-bottom: 1px dotted black;
    margin-bottom: 20px;
}

.card .card_desc {
    padding: 10px;
}

.card .card_desc a {
    display:inline-block;

    text-decoration: none;
    color: black;

    margin-top: 10px;
    padding: 8px 20px;

    border: 2px solid black;
    border-radius: 10px;
}

.card h3 {
    font-size: 1rem;
}

.card .card_image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Card Images */
.card.card_strat .card_image{
    background: url('../img/about-plan.png');
}
.card.card_hww .card_image{
    background: url('../img/about-working.png');
}
.card.card_pww .card_image{
    background: url('../img/about-office.png');
}
.card.card_collab .card_image{
    background: url('../img/about-meeting.png');
}

/* Lets Work Together */
.worktogether {
    margin: 20px 0 30px;
}

/* Contact Form */
.contact {
    margin-bottom: 30px;
}
.contact form {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contact form input {
    flex-basis: 49%;
    margin-bottom: 20px;
    padding: 10px;

    border: 2px solid black;
}

.contact form textarea {
    flex-basis: 100%;
    height: 300px;

    padding: 10px;

    border: 2px solid black;

    resize: none;
}

.contact form input:focus, .contact form textarea:focus {
    outline: none;
}

.contact form button {
    flex-basis: 49%;
    height: 40px;
    background: black;
    color: white;
    border: 2px solid black;
    margin-top: 20px;
    font-size: 1.1rem;
}

.contact form button:last-of-type {
    background: white;
    color: black;
}

.contact form button:hover {
    cursor: pointer;
}

/* Animations */
.boxes .box_container:nth-of-type(1):hover .box {
    animation: boxmove1 .4s ease-in-out;
    right: 200px;
}
.boxes .box_container:nth-of-type(2):hover .box {
    animation: boxmove2 .4s ease-in-out;
    right: 356px;
}
.boxes .box_container:nth-of-type(3):hover .box {
    animation: boxmove3 .4s ease-in-out;
    right: 513px;
}
.boxes .box_container:nth-of-type(4):hover .box {
    animation: boxmove4 .4s ease-in-out;
    right: 670px;
}
.boxes .box_container:nth-of-type(5):hover .box {
    animation: boxmove5 .4s ease-in-out;
    right: 827px;
}
.boxes .box_container:nth-of-type(6):hover .box {
    animation: boxmove6 .4s ease-in-out;
    bottom: 140px;
    right: 200px;
}

.boxes .box_container:nth-of-type(7):hover .box {
    animation: boxmove7 .4s ease-in-out;
    bottom: 140px;
    right: 356px;
}
.boxes .box_container:nth-of-type(8):hover .box {
    animation: boxmove8 .4s ease-in-out;
    bottom: 140px;
    right: 513px;
}

.boxes .box_container:nth-of-type(9):hover .box {
    animation: boxmove9 .4s ease-in-out;
    bottom: 140px;
    right: 670px;
}

.boxes .box_container:nth-of-type(10):hover .box {
    animation: boxmove10 .4s ease-in-out;
    bottom: 140px;
    right: 827px;

}

.boxes .box_container .box {
    position: relative;
    right: 0;
    bottom: 0;

}

@keyframes boxmove1 {
    from{
        right: 0;
    }
    to{ 
        right: 200px;
    }
}
@keyframes boxmove2 {
    from{
        right: 0;
    }
    to{ 
        right: 356px;
    }
}
@keyframes boxmove3 {
    from{
        right: 0;
    }
    to{ 
        right: 513px;
    }
}
@keyframes boxmove4 {
    from{
        right: 0;
    }
    to{ 
        right: 670px;
    }
}
@keyframes boxmove5 {
    from{
        right: 0;
    }
    to{ 
        right: 827px;
    }
}
@keyframes boxmove6 {
    from{
        bottom: 0;
        right: 0;
    }
    to{ 
        bottom: 140px;
        right: 200px;
    }
}
@keyframes boxmove7 {
    from{
        bottom: 0;
        right: 0;
    }
    to{ 
        bottom: 140px;
        right: 356px;
    }
}
@keyframes boxmove8 {
    from{
        bottom: 0;
        right: 0;
    }
    to{
        bottom: 140px;
        right: 513px;
    }
}
@keyframes boxmove9 {
    from{
        bottom: 0;
        right: 0;
    }
    to{ 
        bottom: 140px;
        right: 670px;
    }
}

@keyframes boxmove10 {
    from {
        bottom: 0;
        right: 0;
    }
    to {
        bottom: 140px;
        right: 827px;
    }
} 
